USE [master]
GO
/****** Object:  Database [ComplaintBox]    Script Date: 08/17/2020 19:35:44 ******/
CREATE DATABASE [ComplaintBox] ON  PRIMARY 
( NAME = N'ComplaintBox', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ComplaintBox.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ComplaintBox_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ComplaintBox_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComplaintBox].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComplaintBox]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 08/17/2020 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Login](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NULL,
	[Password] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON
INSERT [dbo].[Login] ([ID], [Email], [Password]) VALUES (1, N'test', N'test123')
SET IDENTITY_INSERT [dbo].[Login] OFF
/****** Object:  Table [dbo].[Complaint]    Script Date: 08/17/2020 19:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Complaint](
	[ComplaintID] [bigint] IDENTITY(1,1) NOT NULL,
	[Complaint] [varchar](1000) NULL,
	[userId] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Complaint] ON
INSERT [dbo].[Complaint] ([ComplaintID], [Complaint], [userId]) VALUES (1, N'tesalndlmdnlkadsmldsmdst', N'3')
INSERT [dbo].[Complaint] ([ComplaintID], [Complaint], [userId]) VALUES (2, N'tesalndlmdnlkadsmldsmdst', N'3')
SET IDENTITY_INSERT [dbo].[Complaint] OFF
